body {
	background-color: #7B7D7D;

}



#topHeader{
	font-size: 72pt;
}
	
#header {
	font-size: 20pt;
}	

#content {
	color: white; 
	padding: 30px 90px 800px 50px;	
}

#footer {
	padding: 40px 10px 30px 0px;
	color: white;
	background-color: #7B7D7D;
	
}