body {
	background-color: #7B7D7D;

}
	

#header {
	padding-top: 1px;
	width: auto;
	height: 20%;
}

#nameHeader{
	padding-top: 25px;
	font-size: 32;
	color: white;
	font-family: times;
	/*text-decoration: underline red;*/

}

#content {
	color: white; 
	padding: 30px 90px 800px 50px;	
}

#nav {
	width: 140px;
	float: left;
	background-color: #424949;
	padding: 0px 0px 500px 20px;
	border: 2px solid blue;
	
	
}

#about {
	width: 800px;
	float: right;
	padding: 0px 10px 20px 20px;
	background-color: #424949;
	border: 2px solid blue;

}

#staff {
	font-size: 16pt;
	padding-left: 60px;
}

#footer {
	padding: 40px 10px 30px 950px;
	
}